include README.rst
include LICENSE
include requirements.txt
include MANIFEST.in
include conf.py
include build_ext.py
graft mgmetis
graft tests
graft examples
recursive-exclude mgmetis/_cython *.c
global-exclude __pycache__
global-exclude *.so
global-exclude *.py[co]
